automation/*.exe
automation/*.json
automation/chapters/
automation/ch/
automation/md/
automation/folder_id.txt

gdocsync/*.exe
gdocsync/*.json

website/dist/
website/node_modules/
website/src/content/chapters/*.md